torch
transformers>=4.30.0
scikit-learn
numpy
pandas
tqdm
spacy
emoji
gradio==3.38.0



# Prometheus metrics
prometheus_client

# ASGI app framework (usato per esporre /metrics)
starlette

# Se usi anche uvicorn per l'avvio in locale
uvicorn

